In [1]:
import pandas as pd

def create_and_print_dataframe(data):
    """
    Create a DataFrame from a list of lists with specific columns, convert the
    'Amount' column to floats, and the 'Date' column to datetime, then print and return it.
    
    Parameters:
        data (list): List of lists containing the data.
        
    Returns:
        pd.DataFrame: The resulting DataFrame.
    """
    df = pd.DataFrame(
        data, 
        columns=["Date", "Amount", "ID", "Description", "TypeID", "ExpenseType", "AccountID","AccountOwner"]
    )

    # Convert Decimal values to floats for numerical operations
    df["Amount"] = df["Amount"].apply(float)

    # Convert Date column to datetime if needed
    df["Date"] = pd.to_datetime(df["Date"])

    return df

In [2]:
from fin_pool.service.service import get_data

data = get_data()
data_df = create_and_print_dataframe(data)

postgresql://username:password@localhost:5432/finPool

In [30]:
def added_expenses_func(expenses: float, percentage: float = 0.25):
    return expenses + percentage*expenses

class FullDF:

    def __init__(self, df):
        self.df = df


    def get_data_by_month(self, month: int):
    # Prendere tutte le transazioni di un mese
        a = 1
        
    def get_variables_expenses(self):
        filtered_values = self.df.loc[self.df["ExpenseType"] == "variables-expenses", "Amount"]
        return sum(filtered_values)

    def get_savings_by_type(self, saving_amount_in_commun, replace_rent: float = None, added_expenses: float = None):
        filtered_values = self.df.loc[self.df["ExpenseType"] == "fixed-expenses", "Amount"]
        if replace_rent is None:
            if added_expenses is None:
                return saving_amount_in_commun - sum(filtered_values) - 230
            else:
                return saving_amount_in_commun - added_expenses_func(sum(filtered_values)) - 230
        else:
            filtered_value = self.df.loc[self.df["Description"] == "rent", "Amount"][0]
            if added_expenses is None:
                return saving_amount_in_commun - sum(filtered_values) + filtered_value - replace_rent- 230
            else:
                return saving_amount_in_commun - added_expenses_func(sum(filtered_values)) + filtered_value - replace_rent- 230

In [31]:
df = FullDF(data_df)
df.df

,Date,Amount,ID,Description,TypeID,ExpenseType,AccountID,AccountOwner
0,2025-03-03,1550.00,1,rent,1.0,fixed-expenses,1,Common
1,2025-03-03,90.00,3,food,1.0,fixed-expenses,1,Common
2,2025-03-03,10.00,3,food,1.0,fixed-expenses,1,Common
3,2025-03-03,40.70,4,PayPall,1.0,fixed-expenses,1,Common
4,2025-03-04,4.90,5,unknown - BELAIR DISTRIB 02.03,NaN,None,1,Common
5,2025-03-04,100.00,6,SAINTE IRINE,NaN,None,1,Common
6,2025-03-10,11.00,7,Medical,2.0,variables-expenses,1,Common
7,2025-03-11,3.60,8,Occasional food,2.0,variables-expenses,1,Common
8,2025-03-17,100.00,4,PayPall,1.0,fixed-expenses,1,Common
9,2025-03-17,70.80,9,glosseries,1.0,fixed-expenses,1,Common
10,2025-03-21,3.50,10,tenue-compte,1.0,fixed-expenses,1,Common
11,2025-03-24,17.50,8,Occasional food,2.0,variables-expenses,1,Common
12,2025-03-25,43.27,12,electricity,1.0,fixed-expenses,1,Common
13,2025-03-31,3.00,2,parking,2.0,variables-expenses,1,Common
14,2025-03-25,341.61,7,Medical,2.0,variables-expenses,1,Common

In [18]:
savings_current_house_current_salary = df.get_savings_by_type(5500)
print("Risparmio casa corrent salario corrente", savings_current_house_current_salary)
savings_current_hounse_new_salary = df.get_savings_by_type(4000)
print("Risparmio casa corrent salario nuovo", savings_current_hounse_new_salary)
print()
savings_current_house_current_salary = df.get_savings_by_type(5500, 2300)
print("Risparmio casa nuova da 2300 e salario corrente", savings_current_house_current_salary)
savings_current_hounse_new_salary = df.get_savings_by_type(2500+2600, 2300, added_expenses=0.25)
print("Risparmio casa nuva da 2300 e salario nuovo", savings_current_hounse_new_salary)

Risparmio casa corrent salario corrente 3361.73
Risparmio casa corrent salario nuovo 1861.73

Risparmio casa nuova da 2300 e salario corrente 2611.7299999999996
Risparmio casa nuva da 2300 e salario nuovo 1734.6625000000004

In [16]:
#### Fino a quanto si puo pagare?

def maxium_flat_price(min_saving, saving_amount_in_commun = 5500):
    saving = 5000
    prince = 0
    while saving >= min_saving:
        saving = df.get_savings_by_type(saving_amount_in_commun=saving_amount_in_commun,replace_rent=prince, added_expenses=0.25)
        prince += 1
    return prince-1

max_pice = maxium_flat_price(1000)
print("prezzo massimo con salation corrente", max_pice)
print()
to_put_on_commun_account = 2500+2052
to_put_on_commun_account = 2500+2600
max_pice = maxium_flat_price(2300, to_put_on_commun_account)
print("prezzo massimo con salation nuovo", max_pice)

prezzo massimo con salation corrente 3435

prezzo massimo con salation nuovo 1735

In [51]:
x = (3000 / 3800)*2600
print(x)

2052.6315789473683

In [32]:
df.get_variables_expenses()

376.71000000000004

In [27]:
0.25 *(230+170) + 230+170

500.0